@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.contact-img-div {
    width: 40%;
    display: flex;
    align-items: bottom;
}

.contact-text {
    font-family: "Roboto", sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 15%;
    padding-left: 70px;
    overflow: hidden;
}

.contact-text p {
    font-size: 20px;
    margin-right: 200px;
}

#self-contact-img {
    width: 32vw;
}

.contact-btns {
    display: flex;
    justify-content: space-around;
    margin-right: 270px;
}

.contact-btns Button i{
    font-size: 18px;
}

#email-btn {
    border: 1px solid #5ABFC1;
    color: #5ABFC1;
    border-radius: 30px;
}

#social-btn {
    margin-left: 2px;
    border: 1px solid #5ABFC1;
    color: #5ABFC1;
    border-radius: 60px;
}

@media (max-width: 767px) {
    .landing-grid {
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
    .contact-img-div {
        display: none;
    }

    .contact-text {
        margin-left: 35px;
        margin-right: 100px;
        width: 85%;
        height: 100%;
    }

    .contact-text p {
        margin-right: 0px;
    }

    .contact-btns {
        margin-right: 0px;
    }
}